<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.book.manage.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <display-name>BookManagementApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.book.manage.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.book.manage.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.book.manage.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortPriceServlet</display-name>
    <servlet-name>SortPriceServlet</servlet-name>
    <servlet-class>com.book.manage.SortPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortPriceServlet</servlet-name>
    <url-pattern>/SortPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortTitleServlet</display-name>
    <servlet-name>SortTitleServlet</servlet-name>
    <servlet-class>com.book.manage.SortTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortTitleServlet</servlet-name>
    <url-pattern>/SortTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.book.manage.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>